<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="cleartype" content="on" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <link type="text/plain" rel="author" href="/humans.txt" />
    <link rel="apple-touch-icon" href="icon.png">

    <title><%= current_page.data.title || "My Blog" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= yield_content :stylesheets %>

    <% if content_for? :styles %>
      <style type="text/css">
        <%= yield_content :styles %>
      </style>
    <% end %>

    <%= yield_content :head %>
  </head>
  <body>
    <div class="container">
      <!-- Logo & Top Nav -->
      <div class="row">
        <div class="col-3">
          <h1><%= link_to image_tag('http://placehold.it/250x75&text=My+Blog'), '/' %></h1>
        </div>
        <div class="col-9">
          <ul></ul>
        </div>
      </div>
      <!-- End Header and Nav -->

      <!-- Main page container -->
      <%= yield %>

      <!-- Footer -->
      <footer class="row">
        <div class="col-sm-12 col-lg-6">
          <p>&copy; Copyright <%= Date.today.year.to_s %> My Blog</p>
        </div>
        <div class="col-sm-12 col-lg-6">
          <p class="right"><i class="fa fa-heart"></i> <%= link_to 'Gimme some love.', 'http://github.com/mattolson' %></p>
        </div>
      </footer>

      <!--[if lt IE 10]>
      <div id="ie-warning-overlay">
        <div id="ie-warning">
          <h1>Did you know that your copy of Internet Explorer is very outdated and not secure?</h1>
          <p>
              To get the best possible experience using our website, we recommend that you upgrade to the latest version or use
              another web browser. Any of the following will provide a superior experience, and higher security, not only on this
              site, but across the web.
          </p>
          <p>Just click one of the icons below to get to the download page.</p>
          <ul>
            <li>
              <a href="http://microsoft.com/ie">
                <%= image_tag 'browser_ie.gif', alt: 'Download Internet Explorer' %>
                <p>Internet Explorer 10+</p>
              </a>
            </li>
            <li>
              <a href="http://mozilla.org/firefox">
                <%= image_tag 'browser_firefox.gif', alt: 'Download Firefox' %>
                <p>Firefox</p>
              </a>
            </li>
            <li>
              <a href="http://google.com/chrome">
                <%= image_tag 'browser_chrome.gif', alt: 'Download Chrome' %>
                <p>Google Chrome</p>
              </a>
            </li>
            <li>
              <a href="http://apple.com/safari">
                <%= image_tag 'browser_safari.gif', alt: 'Download Safari' %>
                <p>Safari</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <![endif]-->
    </div>

    <!-- Javascript -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    <%= javascript_include_tag 'modernizr-3.5.0.min' %>
    <%= javascript_include_tag 'application' %>
    <%= yield_content :javascripts %>
    <%= google_analytics_tag %>
  </body>
</html>
